<div
  class="section-container"
  style="
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('../../../assets/logos/jogoEscola.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  "
>
  <app-title
    titulo="QUEM SOMOS"
    subtitulo="Conheça todos os membros da nossa equipe."
    icon="fa-solid fa-user"
  ></app-title>
  <p id="sobreTitulo">
    Nossa equipe é composta por 10 integrantes, 6 meninas e 4 meninos entre
    16 e 18 anos, que estudam na Etec Cidade do Livro.
  </p>
  <div class="generic-section mt-3rem">
    <div class="right-half">
      <h1>2° DESENVOLVIMENTO DE SISTEMAS (ETIM)</h1>
      <ul>
        <li>Aghata Domeni, de 16 anos;</li>
        <li>Caroline Souza, de 17 anos;</li>
        <li>Gabriela Silva, de 17 anos;</li>
        <li>Lucas Vieira, de 16 anos;</li>
        <li>Matheus Cola, de 17 anos;</li>
        <li>Pedro Ribeiro, de 16 anos.</li>
      </ul>
      <h1>2° QUÍMICA (ETIM)</h1>
      <ul>
        <li>Felipe Davi Rosa, de 17 anos.</li>
      </ul>
      <h1>3° ADMINISTRAÇÃO (ETIM)</h1>
      <ul>
        <li>Ana Jhulia Siqueira, de 18 anos;</li>
        <li>Maria Eduarda Santana, de 17 anos;</li>
        <li>Tatiane Corrêa, de 17 anos.</li>
      </ul>
    </div>
    <div class="left-half">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Todos nós sempre gostamos de estar envolvidos com projetos que promovam
        ações sociais. Somos bastante atuantes no ambiente escolar,
        comunicativos, organizados, proativos, possuímos a habilidade de
        trabalhar em equipe, empatia, resiliência, responsabilidade e facilidade
        de resolver problemas em conjunto. Decidimos nos reunir, então, e
        escolhemos juntos temas que pudessem ser trabalhados e realizados em
        toda a nossa comunidade, e que fossem problemas atuais que estivessem
        atingindo os lençoenses de alguma forma. Com isso, esperamos que,
        através da nossa ação, nossa cidade continue promovendo projetos que
        cuidem do que ainda falta ser desenvolvido, visando sempre o bem-estar e
        o desenvolvimento da comunidade em geral.
      </p>
    </div>
  </div>
</div>
