<div class="somos">
  <div class="container">
  <div class="titulo">
    <img src="../../../assets/logos/logoProjeto.png" alt="" />
    <div class="texto">
      <h1>QUEM SOMOS</h1>
      <h2>Conheça os integrantes de nossa equipe</h2>
    </div>
  </div>
  <div class="conteudo">
    <p>
      O nosso projeto tem o intuito de ampliar o conhecimento sustentável e
      ambiental em nossa cidade, através de ações específicas que focam nos 3Rs
      da sustentabilidade. Dentre os assuntos abordados, teremos: uso adequado
      dos contentores de lixo do município, aproveitamento completo de
      alimentos, reutilização e customização de roupas e novas fontes de energia
      sustentável.
    </p>
  </div>
</div>
</div>