<div class="somos">
  <div class="container">
  <div class="titulo">
    <img src="../../../assets/logos/logoProjeto.png" alt="" />
    <div class="texto">
      <h1>QUEM SOMOS</h1>
      <h2>Conheça os integrantes da nossa equipe</h2>
    </div>
  </div>
  <div class="conteudo">
    <p>
      Nossa equipe é composta por 10 integrantes, 6 meninas e 4 meninos entre 16 e 18 anos, que estudam na Etec Cidade do Livro.
    </p>
    <p>Aghata Domeni, de 16 anos; Caroline Souza, de 17 anos; Gabriela Silva, de 17 anos; Lucas Vieira, de 16 anos; 
      Matheus Cola, de 17 anos; e Pedro Ribeiro, de 16 anos, estão no 2° ano do ensino médio integrado ao técnico de desenvolvimento de sistemas. 
    </p>
    <p>Felipe Davi Rosa, de 17 anos, está no 2° ano e faz o ensino médio integrado ao técnico de química.</p>
    <p>Ana Jhulia Siqueira, de 18 anos; Maria Eduarda Santana, de 17 anos; 
      e Tatiane Corrêa, de 17 anos, estão no 3° ano e fazem o ensino médio integrado ao técnico de administração.</p>
  </div>
</div>
</div>