<div class="section-container">
  <app-title titulo="SOBRE" subtitulo="Conheça o nosso projeto!" icon="fa-seedling"></app-title>
  <div class="generic-section mt-3rem">
    <div class="right-half">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;O nosso projeto tem o intuito de ampliar o conhecimento sustentável e ambiental em nossa cidade, através de ações
        específicas que focam nos 3 Rs da sustentabilidade. Dentre os assuntos abordados, teremos: uso adequado dos
        contentores de lixo do município, aproveitamento completo de alimentos, reutilização e customização de roupas e
        novas fontes de energia sustentável.</p>
    </div>
    <div class="left-half topic-image">

    </div>
  </div>
</div>
