<div
  class="section-container"
  style="
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .95)),
      url('../../../assets/logos/acaoEscola.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  "
>
  <app-title
    titulo="SOBRE"
    subtitulo="Conheça o nosso projeto!"
    icon="fa-seedling"
  ></app-title>
  <div class="generic-section mt-3rem">
    <div class="right-half">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;O nosso projeto tem o intuito de ampliar o
        conhecimento sustentável e ambiental em nossa cidade, através de ações
        específicas que focam nos <span class="font-weight-600">3 R's</span> da
        sustentabilidade. Dentre os assuntos abordados, teremos:
      </p>
      <br />
      <ul>
        <li>Uso adequado doscontentores de lixo do município</li>
        <li>Aproveitamento completo de alimentos</li>
        <li>Reutilização</li>
        <li>Customização de roupas</li>
        <li>Novas fontes de energia sustentável.</li>
      </ul>
    </div>
  </div>
</div>
