<p-toolbar>
  <div class="toolbar">
    <div class="logo">
      <img src="../../../assets/logos/logoProjeto.svg" alt="Logo do Projeto" />
    </div>
    <div class="topicos">
        <a>Sobre</a>
        <a>Jogo</a>
        <a>Receita</a>
        <a>Quem Somos</a>
    </div>
    <div class="hamburguer">
    <a (click)="visibleSidebar2 = true"><i class="fa-solid fa-bars"></i></a>
  </div>
  </div>
</p-toolbar>

<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
  <h3>Right Sidebar</h3>
</p-sidebar>
