<p-toolbar>
  <div class="logo">
    <img src="../../../assets/logos/logoProjeto.svg" alt="Logo do Projeto" />
  </div>
  <div class="topicos">
    <a href="#app-sobre">SOBRE</a>
    <a href="#app-jogo">JOGO</a>
    <a href="#app-receitas">RECEITAS</a>
    <a href="#app-somos">QUEM SOMOS</a>
    <div class="center">
      <label (click)="check = true" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
    </div>
  </div>
</p-toolbar>
<p-sidebar [(visible)]="check" position="right" [baseZIndex]="10000">
  <div class="conteudoSide">
    <a href="app-sobre">SOBRE</a>
    <a href="#app-jogo">JOGO</a>
    <a href="#app-receitas">RECEITAS</a>
    <a href="#app-somos">QUEM SOMOS</a>
  </div>
</p-sidebar>
