<div
  class="section-container"
  style="
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)),
      url('../../../assets/logos/fotoReceita.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  "
>
  <app-title
    titulo="RECEITAS"
    subtitulo="Veja nossas receitas que reutilizam ingredientes!"
    icon="fa-utensils"
  ></app-title>
  <div class="mt-3rem">
    <p-accordion>
      <p-accordionTab header="Bolo de Casca de Abóbora" [selected]="true">
        <div class="generic-section">
          <div class="right-half">
            <h1 class="font-weight-700">Massa:</h1>
            <ul>
              <li><p>2 xícaras de cascas picadas de abóbora moranga</p></li>
              <li><p>2 xícaras de chá de açúcar</p></li>
              <li><p>3/4 xícara de maisena</p></li>
              <li><p>1 1/2 xícara de farinha de trigo</p></li>
              <li><p>3 ovos</p></li>
              <li><p>1 xícara de óleo</p></li>
              <li><p>1 colher (sopa) de fermento em pó</p></li>
            </ul>
          </div>
          <div class="left-half">
            <h1 class="font-weight-700">Cobertura:</h1>
            <ul>
              <li><p>4 colheres (sopa) de leite</p></li>
              <li><p>4 colheres (sopa) de chocolate em pó</p></li>
              <li><p>4 colheres (sopa) de açúcar</p></li>
            </ul>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Suco de Casca de Abacaxi">
        <div class="generic-section">
          <div class="right-half">
            <h1 class="font-weight-700">Ingredientes:</h1>
            <ul>
              <li><p>1 abacaxi grande</p></li>
              <li><p>1 litro de agua</p></li>
              <li><p>Açúcar a gosto</p></li>
            </ul>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Chips de Casca de Batata">
        <div class="generic-section">
          <div class="right-half">
            <h1 class="font-weight-700">Ingredientes:</h1>
            <ul>
              <li><p>Cascas de Batatas</p></li>
              <li><p>Óleo</p></li>
              <li><p>Sal</p></li>
            </ul>
          </div>
          <div class="left-half">
            <h1 class="font-weight-700">Modo de Preparo:</h1>
            <ul>
              <li>
                <p>
                  Descasque a batata em lascas grossas e reserve para fritá-las.
                </p>
              </li>
              <li><p>Mergulhe as cascas no óleo quente.</p></li>
              <li>
                <p>
                  Retire depois de fritas, coloque-as em papel-toalha, jogue um
                  pouco de sal e está pronto para servir.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Pizza com Massa de Brócolis">
        <div class="generic-section">
          <div class="right-half">
            <h1 class="font-weight-700">Massa:</h1>
            <ul>
              <li><p>1 brócolis</p></li>
              <li><p>2 ovos</p></li>
              <li><p>½ xícara de queijo parmesão ralado</p></li>
              <li>
                <p>
                  ¼ de xícara de queijo muçarela + 1 xícara de queijo muçarela
                </p>
              </li>
              <li><p>Sal a gosto</p></li>
              <li><p>½ xícara de passata de tomate</p></li>
              <li><p>1 tomate cortado em rodelas</p></li>
              <li><p>Azeitona roxa a gosto</p></li>
              <li><p>Orégano a gosto</p></li>
            </ul>
          </div>
          <div class="left-half">
            <h1 class="font-weight-700">Modo de Preparo:</h1>
            <ul>
              <li>
                <p>
                  1. Cozinhar o brócolis em água fervente por 4 minutos.
                  Reservar por 20 minutos para esfriar.
                </p>
              </li>
              <li><p>2. Triturar o brócolis frio no processador.</p></li>
              <li><p>3. Dispor o brócolis triturado em uma tigela.</p></li>
              <li>
                <p>
                  4. Juntar os ovos, o queijo parmesão, o queijo muçarela e uma
                  pitada de sal.
                </p>
              </li>
              <li><p>5. Misturar bem.</p></li>
              <li>
                <p>
                  6. Dispor em uma forma antiaderente e assar em forno
                  preaquecido 180 graus por 20 minutos.
                </p>
              </li>
              <li>
                <p>
                  7. Retirar do forno, dispor a passata de tomate, cobrir com o
                  restante de queijo muçarela, dispor as fatias de tomate, as
                  azeitonas e o orégano.
                </p>
              </li>
              <li><p>8. Retornar ao forno por mais 15 minutos.</p></li>
            </ul>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
