<div
  class="section-container"
  style="
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .95)),
      url('../../../assets/logos/jogoEscola.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  "
>
  <app-title
    titulo="JOGO"
    subtitulo="Venha jogar nosso jogo EcoGame!"
    icon="fa-gamepad"
  ></app-title>
  <div class="generic-section mt-3rem">
    <div class="right-half">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;O jogo EcoGame é composto por 4 níveis, os quais
        abordam diversos temas relacionados à sustentabilidade. As fases são,
        respectivamente:
      </p>
      <ul class="mt-3rem">
        <li class="mt-2rem"><span class="font-weight-700">NÍVEL 1:</span> Aborda a temática da separação correta de lixo e uso correto dos containers de lixo da cidade, ensinando de uma forma divertida, mas ao mesmo tempo desafiadora.</li>
        <li class="mt-2rem"><span class="font-weight-700">NÍVEL 2:</span> Aborda a temática da energia solar, cujo conhecimento sobre é essencial.</li>
        <li class="mt-2rem"><span class="font-weight-700">NÍVEL 3:</span> Aborda a temática da renovação de peças de roupas, que é uma prática ótima da sustentabilidade, evitando o consumismo e salvando uma peça antiga!</li>
        <li class="mt-2rem"><span class="font-weight-700">NÍVEL 4:</span> Aborda a temática da reutilização de restos de alimentos, como cascas de banana, para um novo fim, como um bolo!</li>
    </ul>
      <br />
      <iframe
        class="mt-2rem"
        frameborder="0"
        src="https://itch.io/embed/1749928?bg_color=ffffff&amp;link_color=5dfa5b&amp;border_color=b0b0b0"
        width="708"
        height="207"
        ><a href="https://lucasvs.itch.io/ecogame-equipe-5"
          >EcoGame - Equipe 5 by Lucas Vieira da Silva</a
        ></iframe
      >
    </div>
    <div class="left-half">
      <img
        src="../../../assets/logos/Logo_EcoGame.png"
        style="
          height: 50vmin;
          width: 65vmin;
          max-height: 100%;
          max-width: 100%;
        "
        id="logoGame"
      />
    </div>
  </div>
</div>
