.caroussel {
  width: 100vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  }

.hoteis {
  height: 731px;
  max-width: 1920px;
}

.bckg {
  height: 731px;
  width: 1920px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
:host ::ng-deep li{
  list-style: none;
}
@media (max-width: 858px) {
  .generic-section {
    display: flex;
    flex-direction: column;
    p {
      font-size: 1.1rem;
    }
    .left-half {
      margin-right: 1rem;
      img {
        width: 200px;
      }
    }
  }
}
