.texto{
  width: 90vw;

  text-align: left;
  margin-left: auto;
  margin-right: auto;

  margin-top: 13rem;
  margin-bottom: 9rem;

  h1{
    width: 500px;
    font-size: 90px;
    font-weight: bold;
    word-wrap: normal;
    color: white;
  }
  h3{
    padding-top: 15px;
    font-size: 24px;
    color: white
  }
}

.imagem {
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(117, 19, 93, 0.73)), url("../../../assets//logos/fundoEtec.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 90vh;
  z-index: -1;
}
