@import "./config-scss/variables.scss";
@import "./config-scss/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

a {
  color: rgb(64, 134, 255);
  text-decoration: none;
  transition: 0.3s ease-in;
}

a:hover {
  opacity: 0.8;
}

body {
  margin: 0;

  // overflow-x: hidden;
}

html {
  zoom: 80%;
  scroll-behavior: smooth;
}

li {
  list-style: inside;
  color: white;
}

@each $weight in (300, 400, 500, 600, 700) {
  .font-weight-#{$weight} {
    font-weight: $weight;
  }
}

@each $mt in (8px, 1rem, 2rem, 3rem, 4rem, 5rem) {
  .mt-#{$mt} {
    margin-top: $mt;
  }
}

@each $mb in (8px, 1rem, 2rem, 3rem, 4rem, 5rem) {
  .mb-#{$mb} {
    margin-bottom: $mb;
  }
}

@each $mr in (8px, 1rem, 2rem, 3rem, 4rem, 5rem) {
  .mr-#{$mr} {
    margin-right: $mr;
  }
}
