.footer {
  width: 100vw;
  height: 12rem;
  background-color: #000000;

  left: 0;
  bottom: 0;
}

.text {
  color: white;
  font-size: 1.3rem;
  margin-left: 1rem;
  padding-top: 13px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.text2 {
  color: white;
  font-size: 1.3rem;
  margin-left: 1rem;
  padding-top: 13px;
  justify-content: space-around;
  justify-content: flex-start;
  display: flex;
}

.icon {
  display: flex;
}
