<footer>
  <div id="main" class="row primary">
    <div class="column about">
      <h3 class="font-weight-700 mb-8px">Equipe 05 - Sustent+ Ação</h3>

      <p class="mb-8px">
        Licenciado por
        <a
          href="https://github.com/Sustent-Acao/Sustent-Acao.github.io/blob/master/LICENSE"
          >LGPL-2.1</a
        >
      </p>

      <div class="social">
        <a href="https://www.instagram.com/sustent.acao/"
        target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram-square"></i
        ></a>
        <a href="https://www.youtube.com/channel/UCQGN4ihWrwJBtYSONIPDrrw/videos" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube-square"></i></a>
      </div>
    </div>

    <div id="quote">
      <p>
        <i>“Nós estamos vivendo nesse planeta como se tivessemos outro para ir.”</i> <br> – Terry Swearingen, Prêmio Goldman Environmental em 1997
      </p>
      <p class="mt-8px" style="color: rgb(133, 236, 133)">Pensar no mundo é cuidar. <br> Seja sustentável!</p>
    </div>

    <div class="lists">
      <div class="column links">
        <h3 class="font-weight-700 mb-8px"><i class="fa-sharp fa-solid fa-code mr-8px"></i>Desenvolvedores</h3>

        <div id="supporters">
          <ul>
            <li>
              <a href="https://github.com/lucasvieiras" target="_blank" rel="noopener noreferrer">Lucas Vieira da Silva</a>
            </li>
            <li>
              <a href="https://github.com/PedroHenriquevr" target="_blank" rel="noopener noreferrer">Pedro Henrique Vieira Ribeiro</a>
            </li>
            <li>
              <a href="https://github.com/matheuscola15" target="_blank" rel="noopener noreferrer">Matheus Henrique Crispim Cola</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
